body{
    font-family: "Bebas Neue", sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.logo1{
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.logo1{
width: 100%;
height: auto;
}
.txt-1{
position: absolute;
top: 60%;
left: center;
transform: translate(-50, -50);
color: #FFFFFF;
font-size: 100px;
font-weight: bold;
text-shadow: 2px 2px 10px black;
}



h1,h2,h3 {
    text-align: center;
    color: #00FFCC;
    font-size: 50px;
    
}

header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align:center;
    height: center;
}

.playlist-g{text-align: center;}
nav ul li {
    
    font-size: 100cm;
    margin: 15px;
    height: 30px;
    font-size: 30px;
    color: #5d5c61;
    background-color: #222;
    padding: 20px;
    width: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 98, 0.5);
    display: inline-block;
    text-align: center;
    flex: wrap;
    min-height:0,20vh;
    width: 250px;
    padding: 30px;
    margin: 20px;
}



header h1 {
    font-size: 36px;
    color: #fd6874;
}

section {
    padding: 50px 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #333;
    text-align: center;
}

.calendario p {
    font-size: 18px;
    padding: 10px;
    background-color: #222;
    border-left: 5px solid #fd6874;
    margin-bottom: 10px;
}

.playlist-g {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.playlist h3 {
    color: #00FFCC;
}

.djs-g {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.dj {
    background-color: #222;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 98, 0.5);
    display: inline-block;
    text-align: center;
    flex: wrap;
    min-height: 50vh;
    width: 300px;
    padding: 30px;
    margin: 20px;
}

.subtitulo{
    text-align: center;
    color: #5d5c61;
    font-size: 75px;
    margin: 15px;
}
.dj h3 {
    color: #fd6874;
    
}

.sub-calendario{
    text-align: left;
}
footer {text-align: center;
padding: 20px;
background-color: #1a1a1a;
color: #888;}